<!-- Modal -->
<div class="modal fade" id="AddCategoriasModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Categoria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="{% url 'addcategoria' %}" method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                <div class="modal-body">

                    <div class="subdiv">
                        <label for="id_nombre_categoria">Categoria:</label>
                        <br>
                        <input type="text" id="id_nombre_categoria" name="nombre_categoria" required>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <input type="submit" class="btn btn-primary" value="Agregar">
                </div>
            </form>

        </div>
    </div>
</div>