<!-- Modal -->
<div class="modal fade" id="AddProductosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="#" method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                <div class="modal-body">

                    <div class="subdiv">
                        <label for="nombre_producto">Nombre:</label>
                        <br>
                        <input type="text" id="nombre_producto" name="nombre_producto" required>
                    </div>

                    <div class="subdiv">
                        <label for="codigo_producto">Codígo:</label>
                        <br>
                        <input type="text" id="codigo_producto" name="codigo_producto" required>
                    </div>

                    <hr>

                    <div class="subdiv div-select">
                        <div>
                            <label for="categoria_producto">Categoria:</label>
                            <br>
                            <select id="categoria_producto" name="categoria_producto" required>

                                {% for categoria in categorias %}
                                <option value="{{categoria.id}}">{{categoria.nombre}}</option>
                                {% endfor %}

                            </select>
                        </div>

                        <div>
                            <label for="proveedor_producto">Proveedor:</label>
                            <br>
                            <select id="proveedor_producto" name="proveedor_producto" required>

                                {% for proveedor in proveedores %}
                                <option value="{{proveedor.id}}">{{proveedor.nombre}}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>

                    <hr>

                    <div class="subdiv">
                        <label for="stock_producto">Stock:</label>
                        <br>
                        <input type="number" id="stock_producto" name="stock_producto" required>
                    </div>

                    <div class="subdiv">
                        <label for="precio_producto">Precio:</label>
                        <br>
                        <input type="number" id="precio_producto" name="precio_producto" required>
                    </div>

                    <div class="subdiv">
                        <label for="descripcion_producto">Descripcion:</label>
                        <br>
                        <textarea name="descripcion_producto" id="descripcion_producto" cols="30" rows="5"
                            required></textarea>
                    </div>

                    <div class="subdiv">
                        <label for="imagen_producto">Imagen:</label>
                        <br>
                        <input type="file" accept="image/*" name="imagen_producto" id="imagen_producto" >
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <input type="submit" class="btn btn-primary" value="Agregar">
                </div>
            </form>

        </div>
    </div>
</div>